@use '../../partials/mixins.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/typography.scss' as *;
@use '../../partials/global.scss';

@include mobile{
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &__logo-link{
            display: flex;
            justify-content: center;
        }

        &__logo{
            height: 1.8rem;
            margin: 1rem 0;
        }

        &__search{
           display: flex;
           justify-content: center;

            &-bar{
                margin: 0 1rem;
                height: 3.2rem; 
                width: 100%;
                font-size: 1rem;
                text-indent: 1.8rem;
                border-radius: 0.25rem;
                border-color: $mercury;
                box-shadow: none;
                background: url(../../assets/Images/Icons/Icon-search.svg) no-repeat 1rem center;
                padding: 1rem;
                border-style: solid; 

                &:focus{
                    outline: none;
                }
            } 
        
        }

        &__sub-container{
            display: flex;
            justify-content: space-around;

            &-btn{
                color: white;
                height: 3.2rem;
                width: 19rem;
                font-size: 1rem;
                border-radius: 0.25rem; 
                background: url(../../assets/Images/Icons/Icon-upload.svg) no-repeat 4rem center;
                background-size: 1.1rem;
                background-color: $brainflix-blue; 
                border-style: hidden; 
                padding-left: 2rem;
                margin: 0.5rem 1rem 1rem 1rem; 



            }

            &-user-icon{
                @include user-icon;
                margin: 0.5rem 1rem 1rem 0;
            }
        }
    }
}

@include tablet{
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 2rem;

        &__logo{
            height: 1.8rem;
            width: auto;
        }

        &__search{
            margin-left: 10%;

            &-bar{
                height: 3rem;
                width: 100%;  
            }  
        }

        &__sub-container{

            &-btn{
                width: 7rem;
                height: 3rem;
                margin-top: 1rem;
                background-position-x: 12%;
                font-size: $tablet-paragraph;
            }
            &-user-icon{
                margin-top: 1rem;
            }
        }
    }
}

@include desktop{
    
}