@use '../../partials/mixins.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/typography.scss' as *;
@use '../../partials/global.scss';

@include mobile{
    .video-container{
        &__video{
            height: 11.45rem;
            width: 100%;
        }

        &__video-details{
            border-bottom: 1px solid $mercury;
            margin: 0 1rem;
        }

        &__title{
            font-size: $mobile-h1;
            padding-top: 1.5rem;

        }

        &__info{
            display: flex;

            &-channel{
                font-size: $mobile-subheader;
                padding: 1rem 0 1.5rem 0;
            }
            &-date{
                color: $silver;
                padding: 1rem 0 1.5rem 0.5rem;
                font-size: $mobile-subheader;
            }
        }
        
        &__views-likes{
            display: flex;

            .video__views{
                display: flex;

                &-icon{
                    padding: 0 0 1.5rem 0;
                    font-size: $mobile-subheader;
                }
                &-number{
                    padding: 0 0 1.5rem 0.5rem;
                    font-size: $mobile-subheader;
                }   
            }
            .video__likes{
                display: flex;

                &-icon{
                    padding: 0 0 1.5rem 1rem;
                    font-size: $mobile-subheader;
                }
                &-number{
                    padding: 0 0 1.5rem 0.5rem;
                    font-size: $mobile-subheader;
                }
            }
        }

        &__description-text{
            font-size: $mobile-paragraph;
            padding: 1.5rem 1rem;
        }
        
        

    }
}




