@font-face {
    font-family: Avenir;
    src: url(../assets/Fonts/woff2/AvenirNextLTPro-UltLt.woff2) format(woff2),
    url(../assets/Fonts/woff/AvenirNextLTPro-UltLt.woff) format(woff);
    font-weight: 100;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/Fonts/woff2/AvenirNextLTPro-Thin.woff2) format(woff2),
    url(../assets/Fonts/woff/AvenirNextLTPro-Thin.woff) format(woff);
    font-weight: 200;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/Fonts/woff2/AvenirNextLTPro-Regular.woff2) format(woff2),
    url(../assets/Fonts/woff/AvenirNextLTPro-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/Fonts/woff2/AvenirNextLTPro-Medium.woff2) format(woff2),
    url(../assets/Fonts/woff/AvenirNextLTPro-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/Fonts/woff2/AvenirNextLTPro-Demi.woff2) format(woff2),
    url(../assets/Fonts/woff/AvenirNextLTPro-Demi.woff) format(woff);
    font-weight: 600;
}

@font-face {
    font-family: Avenir;
    src: url(../assets/Fonts/woff2/AvenirNextLTPro-Bold.woff2) format(woff2),
    url(../assets/Fonts/woff/AvenirNextLTPro-Bold.woff) format(woff);
    font-weight: 700;
}