//Colours
$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$instock-blue: #004892;
$instock-dark-blue: #002F5F;
$brainflix-blue: #0095FF;
$brainflix-dark-blue: #0065AD;

//Sizes
$mobile: 20rem;
$tablet: 47.93rem;
$desktop: 89.93rem;

//Text Sizes
$mobile-h1: 1.5rem;
$mobile-subheader: 1rem;
$mobile-paragraph: 0.8rem;
$tablet-hero-h1: 3.75rem;
$tablet-h1: 2.25rem;
$tablet-h2: 1.5rem;
$tablet-subheader: 1.1rem;
$tablet-paragraph: 1rem; 