@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;

.upload__loading{
    font-size: $tablet-h1;
    font-weight: 600;
    padding: 5rem;
}

@include desktop{
    .container__description-comments-vidlist{
        display: flex;
        margin: 0 11rem;
    }
}
