@use '../../partials/mixins.scss' as *;
@use '../../partials/variables.scss' as *;
@use '../../partials/typography.scss' as *;
@use '../../partials/global.scss';

@include mobile{
    .video-container{
        &__video-onplay{
            height: 11.45rem;
            width: 100%;
            object-fit: cover;
        }

        &__video-details{
            border-bottom: 1px solid $mercury;
            margin: 0 1rem;
        }

        &__title{
            font-size: $mobile-h1;
            padding-top: 1.5rem;
            font-weight: 600;

        }

        &__info{
            display: flex;

            &-channel{
                font-size: $mobile-subheader;
                padding: 1rem 0 1.5rem 0;
            }
            &-date{
                color: $silver;
                padding: 1rem 0 1.5rem 0.5rem;
                font-size: $mobile-subheader;
                font-weight: 400;
            }
        }
        
        &__views-likes{
            display: flex;

            .video__views{
                display: flex;

                &-icon{
                    padding: 0 0 1.5rem 0;
                    font-size: $mobile-subheader;
                }
                &-number{
                    padding: 0 0 1.5rem 0.5rem;
                    font-size: $mobile-subheader;
                    font-weight: 400;
                }   
            }
            .video__likes{
                display: flex;

                &-icon{
                    padding: 0 0 1.5rem 1rem;
                    font-size: $mobile-subheader;
                }
                &-number{
                    padding: 0 0 1.5rem 0.5rem;
                    font-size: $mobile-subheader;
                    font-weight: 400;
                }
            }
        }

        &__description-text{
            font-size: $mobile-paragraph;
            padding: 1.5rem 1rem 2rem 1rem;
        }
        
        

    }
}

@include tablet{
    .video-container{
        
        &__video{
            background-color: black;
            display: flex;
            justify-content: center;

            &-onplay{
                @include tablet-onplay-video-size;
            }
        
        }

        &__info-date{
            font-weight: 400;
        }

        &__video-details{
            margin: 0 2rem;
        }

        &__title{
            font-size: $tablet-h1;
        }

        &__all-info{
            display: flex;
            justify-content: space-between;
            padding-top: 0.5rem;

            .video-container__info{

                &-channel{
                font-size: $tablet-subheader;  
                }
                &-date{
                    font-size: $tablet-subheader;

                }
            }

            .video__views-number{
                padding: 0.5rem;
                font-weight: 400;
            }

            .video__likes-number{
                padding: 0.5rem;
                font-weight: 400;
            }
        }

        &__description{
            padding: 0 2rem;
            width: 85%;

            &-text{
                padding: 2rem 0 1rem 0;
                font-size: $tablet-paragraph;
                font-weight: 400;
                line-height: 1.5rem;
            }
        }
    }
 
}

@include desktop{
    .video-container{
        &__title{
            padding-top: 2.5rem;
        }
        
        &__video-onplay{
            @include desktop-onplay-video-size;
        }

        &__video-details{
            margin: 0;
        }

        &__description{
            padding: 0;

            &-text{
                width: 85%;
            }
        }

        &__views-likes{
            padding-right: 1rem;
        }
    }

}


